    
    .sidebar{
width: 250px;
    }
.add{
background-color: blueviolet;
width: 600px;


}

    

    .mini-form{
        margin: 100px 10px auto 30px;
           background-color: rgba(240, 255, 255, 0.41);
 border-radius: 20px;
  width: 400px;
  height: 500px;

    }
 .mini-form h1,p{
        text-align: center;
    }
    .input-icon input{
        height: 50px;
    }
    .input-iconn input{
         width: 95%;
    padding: 9px ;
    border-radius: 10px;
    border: 1px solid #ccc; 
    height: 30px;
    margin-bottom: 15px;
    }
 @media (max-width: 865px){
    body{
height: 120vh;
    }
}

 @media (max-width: 765px){
    .sidebar {
        width: 180px; 
    }

    .add {
        width: calc(100% - 180px); 
        height: 800px;
    }

    .mini-form {
        width: 100%;
        
        margin: 150px 0 0 0;
     
    }
    
}
