:root{
    --main-color:aliceblue;
    --margin-left: 10px;
      --red-color: #f44336;
   --blue-color: #2196f3;
   --green-color: #8bc34a;  
 --grey-color: #b3b3b3;
 
}

body{
     background-repeat: no-repeat;
      background-repeat: no-repeat;
     height: 140vh;
     width: auto;
background: linear-gradient(135deg, #b993f9 0%, #8f5bff 50%, #4a00e0 100%);}

.content{
    display: flex;
    justify-content: center;
    margin: 50px 100px 0;
   margin-left: 150px;
    display: flex;
}
/* start sidebar */
.sidebar{
 display: flex;            
    flex-direction: column;   
    background-color: var(--main-color);
    width: 210px;
    height: 900px;
   border-radius: 20px 0 0 20px;
    padding-left:10px ;
}
.logo{
    padding-top: 10px;
    color: #6213bb;
    padding-left: 2px;
}
.links li{
    list-style: none;
    padding-bottom: 10px;
    
}
.links ul li a{
    text-decoration: none;
    font-size: 18px;
    color:rgb(30, 46, 186);
}
.links i{
    padding-right: 8px;
    color:rgba(128, 128, 128, 0.348);

}
.links li a:hover{
    background-color: #6213bb;
    border:10px solid #6213bb ;
    border-radius: 10px;
    color:azure;
}
.user-profile{
  margin-top: auto;
  display: flex;              
       align-items: center;
    gap: 10px;
  
   
}

img{
    margin-top: 9px;
    width: 35px;
    border-radius: 50%;
}
.user-info p{
font-size: 13px;
font-weight: bold;
padding-top: 20px;
}
.user-info span{
    font-size: 10px;
    font-weight: bold;
    color: rgba(11, 11, 11, 0.414);
    position: relative;
    top: -16px;
}
/* end sidebar */
/* start section */
.section{
    background-color: rgba(240, 255, 255, 0.41);
 border-radius: 0 20px 20px 0;
 width: 850px;
 padding-left: 10px;
}
.main-content{
     display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.top-header h1{
color: white;
font-weight: bold;

}
.top-header p{
    color: white;
}
.date-badge{
    margin-right: 4px;

  border-radius: 20px;
width: 152px;
height: 25px;
text-align: center;
bottom: 2px;
padding: 0 6px 0 4px;
  margin-top: -45px;
}
/* end section */
/* start stats cards */
.stats-cards{
    margin-top: -10px;
    display: flex;
    gap: 10px;
    flex-wrap: nowrap;
}
.card{
    margin-left: 10px;
    background-color:var(--main-color);
    border-radius: 20px;
    padding: 0 20px;
   width: 20%;
    height: 90px;
}
.card h5{
    color: gray;
 
}
.card p{
    color: black;
    margin-top: -13px;
}
.line-green{
  background-color: #949798;
margin-top: -10px;
border-radius: 20px;
width: 60%;
  height: 6px;
}
.line-green span{
    display: block;
    background-color: rgba(3, 12, 6, 0.88);
    height: 100%;
    width: 60px;
    border-radius: 20px;
    position: relative;
}
.line-red{
      background-color: #837c80;
margin-top: -10px;
border-radius: 20px;
width: 60%;
  height: 6px;
}
.line-red span{
      display: block;
    background-color: rgba(151, 50, 50, 0.88);
    height: 100%;
width: 45px;
    border-radius: 20px;
    position: relative;
}
/* end stats card */
/* start add */

 .mini-form {
  margin-right: -20px;
    margin-left: 25px;
    margin-top: -2px;
    background-color: var(--main-color);
    width: 318px; 
height: 300px;          
    padding: 20px; 
            
    border-radius: 33px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.05);
    box-sizing: border-box; 
}
.text{
    display: flex;

}
.text i{
  margin-top: 3px;
  padding-right: 2px;
}
.mini-form h3 {
    margin-top: 0;
    margin-bottom: 15px;
    color: #000000;
    font-size: 20px;
    font-weight: bold;
}
.input-icon{
    position: relative;
}
.input-icon input{
    width: 100%;
    padding: 10px 35px;
    border-radius: 10px;
    border: 1px solid #ccc; 
}.input-icon i {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color:rgba(128, 128, 128, 0.348);
}

.small-input {
    display: block;          
    width: 100%;             
    height: 30px;            
    padding: 0 15px;         
    margin-bottom: 12px;     
    background-color: #f8f9fc;
    border: 1px solid #969595; 
    border-radius: 10px;   
    box-sizing: border-box; 
    font-size: 14px;
}


.small-btn {
    display: block;
    width: 100%;
    height: 35px;            
    background-color: #091d9bd8; 
    color: white;
    border: none;            
    border-radius: 15px;
    font-size: 16px;
    font-weight: bold;
    box-sizing: border-box;
}

.small-btn:hover {
    background-color: #4a56a0;
}

    .input-iconn input{
         width: 95%;
    padding: 9px ;
    border-radius: 10px;
    border: 1px solid #ccc; 
    height: 30px;
    margin-bottom: 15px;
    }
/* end add */
/*start analysis */
.analysis-card{
    margin-left:var(--margin-left) ;
    border-radius: 20px;
    background-color: var(--main-color);
    width:55% ;
    height: 270px;
   margin-top: -143px;
   position: relative;
  
}
.analysis-card h3{
   padding: 13px 0 0 20px;
}

      

        .pie-chart {
         
            position: absolute;
            width: 180px;
            height: 150px;
            border-radius: 50%;
            margin-top: 10px; 
         margin-left: 10px;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); 
            
        
     background: conic-gradient(
    var(--red-color) 0deg 162deg,
    var(--blue-color) 162deg 270deg,
    var(--green-color) 270deg 342deg,
    var(--grey-color) 342deg 360deg
);}

.point{
    display: flex;
    /* justify-content: flex-end; */
    flex-direction: column;
    align-items: flex-end;
    padding-right: 30px;
}
    .point p{
        font-size: 12px;
        padding-bottom:0px;

    }
.red {
    position: relative;
    padding-left: 20px; 
}

.red::before {
    content: "";
    position: absolute;
    left:0;
    top: 50%;             
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;   
 
}
.green {
    position: relative;
    padding-left: 20px; 
}

.green::before {
    content: "";
    position: absolute;
    left:0;
    top: 50%;             
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    background-color: rgb(61, 135, 83);
    border-radius: 50%;   
 
}
.blue {
    position: relative;
    padding-left: 20px; 
}

.blue::before {
    content: "";
    position: absolute;
    left:0;
    top: 50%;             
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    background-color: rgb(15, 155, 255);
    border-radius: 50%;   
 
}
.gray{
    position: relative;
    padding-left: 20px; 
}

.gray::before {
    content: "";
    position: absolute;
    left:0;
    top: 50%;             
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    background-color: rgb(128, 122, 122);
    border-radius: 50%;   
 
}
/* end analysis */
/* start transactions */
.transactions{
background-color: var(--main-color);
margin-top:10px ;
height:230px;
width: 55%;
border-radius:20px;
margin-left: var(--margin-left);
}
.title{

padding:8px 0  0 9px

}
.title i{
    font-size: 13px;
    color:rgba(128, 128, 128, 0.348);
}
.transactions span{

padding-left: 50px;
}
.recent{
    display: flex;
}
/* end trqnsaction */
/* start calc */
.tra-calc{
    display: flex;
 
}
.calculator-box {
    position: relative;
 
    opacity: 0;
    margin-top: -110px;

    margin-left:30px;
    margin-right: 5px;
    margin-bottom: 2px;
    background-color: #22252d;
    width: 260px;   
    padding: 10px;      
    border-radius: 20px; 
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
    color: white;
}
@media (max-width: 1120px){
    .calculator-box {
        margin-left: 20px;   
     
    }
}

@media (max-width: 1120px){
    .mini-form{
        margin-left: 25px;   
     
    }
}
.calc-header {
    text-align: center;
    color: #555;
    font-size: 14px;   
    margin-bottom: 10px;
    letter-spacing: 1px;
}


#calc-screen {
    width: 90%;        
    height: 50px;      
    background-color: #181a20;
    border: none;
    border-radius: 15px;
    color: white;
    font-size: 28px;  
    text-align: right;
    padding: 10px;    
    margin-bottom: 15px;
}

.calc-keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 12px;                 
}


.calc-keys button {
    height: 40px;     
    border-radius: 10px;
    border: none;
    font-size: 16px;  
    font-weight: bold;
    background-color: #272b33;
    color: white;
}

.calc-keys button:hover {

    background-color: #00000017;
}

.btn-op {
    background-color: #d98028 !important; 
}


.btn-red {
    background-color: #bf352d !important;
}


.btn-green {
    background-color: #26a65b !important;
}


.span-two {
    grid-column: span 2; 
   
    width: 100%;
}

.calculator-box::after{
    content: "";
    background-color: red;
    border-radius: 20px
}

.display i{
    display: flex;
background-color: #821772c2;
color: #d7d5d8;
width: 56px;
height: 31px;
border-radius: 20px;
justify-content: center;
align-items: center;
position: relative;
margin-right: 4px;

} 

@media (max-width: 880px){

    
    .sidebar{
        width: 110px;
        height:auto ;
        padding-left:5px ;
    }
body{
    height: auto;
    width: auto;
}
    .content{
        margin-left: 10px;
       
    }


    .section{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-right: 20px;
    }
    .stats-cards{
        flex-wrap: wrap;
    }
    .card{
        margin-left: 10px;
    }

 
    .mini-form{
     
        width: 90%;
        margin-left: 0;
        margin-top: 20px;
        height: auto;
    }

.line-green {
    width: auto;
   
}
.line-red{
    width: auto;
   
}

    .analysis-card,.transactions{
height: 400px;
width: 100%;
 margin-left: 0 !important;
        margin-top: 20px !important;
    
    }
 

    .calculator-box{

        width: 60% !important;
        margin-left: 0 !important;
        margin-top: 20px !important;
    
    }

    
    .tra-calc{
        flex-direction: column;
    }

    .calculator-box{
        margin-top: 20px !important;
        margin-bottom: 20px;
    }
}

@media (max-width: 760px){
    .card{
width: 100px;
    }
}
@media (max-width: 467px) {
  .content {
    margin: 50px 0 0 10px;
  }
}
@media (min-width: 734px) and (max-width: 878px) {
    .mini-form{
        width: 80%;
    }
    .analysis-card,.transactions{
        height: 300px;
    }
}

@media (min-width: 800px) and (max-width: 1273px) {
    .mini-form{
     margin-right: 0;
    }
}