
    body{
        height: 130vh;
    }
    .content ,.sidebar{
        height: 800px;
    }

    .Setting{
    padding-left: 40px;
        background-color: rgba(40, 7, 50, 0.559);
width: 500px;
border-radius: 0 20px 20px 0;
    }
    .Setting h1 {
font-size: 23px;
margin-left:10px ;
margin-top: 20px;
    }
    .text h4{
        margin-top: 30px;
        font-size: 15px;
margin-right: 50px;
margin-left: 10px;
    }
    .text p{
        margin-top: 2px;
        font-size: 10px;
color: rgba(9, 2, 2, 0.533);
    }
    .textt h4::after{
        content: " ";
border: 1px solid rgb(111, 57, 150);
display: block;

    }
    .name img{

             margin-left: 10px;
        margin-top: 20px;
        border-radius: 50%;
        width: 70px;
    }

    .username{
        display: flex;
        flex-direction: column;
    }
    .username label{
        margin: 10px 0 8px 13px;
        color: rgba(9, 2, 2, 0.533);
      
          font-size: 10px;
    }
    .username input , .pass input{
        margin: 0 10px ;
        width: 50%;
          font-size: 10px;
    height: 38px;
    background-color: rgba(240, 248, 255, 0.042);
    border: 1px solid gray;
    color: rgb(0, 0, 0);
    padding-left:8px ;
    border-radius: 10px;
    }
    .username button ,.pass button{
        display: block;
        margin-top: 20px;
        margin-left: 10px;
        height: 50px;
        width: 130px;
        border-radius: 10px;
       background-color:rgb(77, 2, 147);
      border: 1px solid #ffffff00;
      color: white;
    }
    .textpass{
  font-size: 23px;
margin-left:10px ;
margin-top: 20px;
    }
    .textpass p{
font-size: 12px;
margin-right: 50px;
margin-left: 5px;
    }
    .pass label{
        display: block;
       margin: 10px 0 8px 13px;
        color: rgba(9, 2, 2, 0.533);
        font-size: 10px;
    }
 